*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color:inherit;
}
img {
    width: 100%;
    /* 去除图片的3px间隙 */
    display: block;
    height: auto;
  }